*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #252526;
    --secondary-color: #333333;
    --tertiary-color: #858585;
}

html,
body {
    font-family: 'Open Sans', sans-serif;
    background: var(--secondary-color);
    color: #fff;
    line-height: 1.6;
    scroll-behavior: smooth;
}
a { 
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}